.sign-in {
    width: 30vw; //component is always 30% of view width (vw)
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0; //10px margin on all sides of title
    }
}